version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: quiz_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quiz_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

# vim: set tabstop=2 shiftwidth=2 expandtab colorcolumn=121 :
